<h1>Colleges and Universities with Data Science Degrees</h1>
<p>
  Download:
  <%= link_to "CSV", schools_path(format: "csv") %> |
  <%= link_to "JSON", schools_path(format: "json") %>
</p>
<table class='table table-striped table-hover'>
  <thead>
    <tr><th>College</th><th>Program</th><th>Degree</th> </tr>
  </thead>
  <% @schools.each do |school| %>
    <tr>
      <td><strong><%= school.name %></strong></td>
      <td> <%= link_to school.program, school.url, title:school.name+' '+school.degree+' in '+school.program  %></td>
      <td><%= school.degree %></td>
    </tr>
  <% end %>
</table>